td{
    font-size: 0.75em;
    width: 14%;
}

.calendarBtn{
    padding-bottom: 0px;
    margin-bottom: 0px;
    min-width: fit-content;
}

#calendarBtnRow{
    width: 100%;
}

#switchView{
    text-align: right;
}

#mnthYear{
    text-align: center;
}

.emptyDay{
    background-color: rgba(135, 206, 250, 0.267)
}
.monthDay{
    border: 1px solid lightgray;
}
#monthDaysTable{
    border: 1px solid lightgrey;
}