{% extends 'base.html' %}

{% block head_block %}
<link rel="stylesheet" href="/static/css/calendar.css">
{% endblock head_block %}

{% block body_block %}

<div class="container">
    <table id="calendarBtnRow">
        <td class="calendarBtn" id="prevNextToday">
            <button id="prevMonthBtn" type="button" class="btn btn-outline-primary"><</button>
            <button id="nextMonthBtn" type="button" class="btn btn-outline-primary">></button>
            <button id="todayBtn" type="button" class="btn btn-primary active" data-toggle="button" aria-pressed="True" autocomplete="off">Today</button>
        </td>
        <td class = "calendarBtn" id="mnthYear">
            <div class="container">
                <div class="btnDiv container right">
                    <button id="displayedMonthBtn" role="button" class="btn btn-link btn-lg dropdown-toggle" data-toggle="dropdown">Month</button>
                    <ul id="monthList" class="dropdown-menu monthColumns" role="menu" aria-labelledby="displayedMonthBtn">
                    </ul>
                </div>
                <div class="btnDiv container left">
                    <button id="displayedYearBtn" type="button" class="btn btn-link btn-lg dropdown-toggle"data-toggle="dropdown">Year</button>
                    <ul id="yearList" class="dropdown-menu yearColumns" role="menu" aria-labelledby="displayedYearBtn">
                    </ul>
                </div>
            </div>
        </td>
        <td class="calendarBtn" id="switchView">
            <button id="monthViewBtn" type="button" class="btn btn-primary active" data-toggle="button" aria-pressed="True" autocomplete="off">Month</button>
            <button id="monthViewBtn" type="button" class="btn btn-primary" data-toggle="button" aria-pressed="True" autocomplete="off">Week</button>
            <button id="monthViewBtn" type="button" class="btn btn-primary" data-toggle="button" aria-pressed="True" autocomplete="off">Day</button>
        </td>
    </table>
    </div>
    <div class="container">
    <table class="table" id="datesTable">
        <thead>
            <tr>
                <th class="dayHeading">Monday</th>
                <th class="dayHeading">Tuesday</th>
                <th class="dayHeading">Wednesday</th>
                <th class="dayHeading">Thursday</th>
                <th class="dayHeading">Friday</th>
                <th class="dayHeading">Saturday</th>
                <th class="dayHeading">Sunday</th>
            </tr>
        </thead>
        <tbody id="monthDaysTable">

        </tbody>
    </table>
</div>
<script type="module" src="{{url_for('static', filename='js/views/calendar.js')}}"</script>

{% endblock body_block %}
