{% extends 'base.html' %}

{% block head_block %}
<link rel="stylesheet" href="/static/css/calendar.css">
{% endblock head_block %}

{% block body_block %}

<div class="container">
    <table id="calendarBtnRow">
        <td class="calendarBtn" id="prevNextToday">
            <button id="prevMonthBtn" type="button" class="btn btn-outline-primary"><</button>
            <button id="nextMonthBtn" type="button" class="btn btn-outline-primary">></button>
            <button id="todayBtn" type="button" class="btn btn-primary active" data-toggle="button" aria-pressed="True" autocomplete="off">Today</button>
        </td>
        <td class = "calendarBtn" id="mnthYear">
            <button id="displayedMonthBtn" type="button" class="btn btn-link btn-lg">Month</button>
            <button id="displayedYearBtn" type="button" class="btn btn-link btn-lg">Year</button>
        </td>
        <td class="calendarBtn" id="switchView">
            <button id="monthViewBtn" type="button" class="btn btn-primary active" data-toggle="button" aria-pressed="True" autocomplete="off">Month</button>
            <button id="monthViewBtn" type="button" class="btn btn-primary" data-toggle="button" aria-pressed="True" autocomplete="off">Week</button>
            <button id="monthViewBtn" type="button" class="btn btn-primary" data-toggle="button" aria-pressed="True" autocomplete="off">Day</button>
        </td>
    </table>
    <table class="table" id="datesTable">
        <thead>
            <tr>
                <th>Monday</th>
                <th>Tuesday</th>
                <th>Wednesday</th>
                <th>Thursday</th>
                <th>Friday</th>
                <th>Saturday</th>
                <th>Sunday</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>

<script src="/static/js/views/calendar.js"></script>

{% endblock body_block %}
